/* Main Page */

.App {
  text-align: center;
}

.title {
  width: 100%;
}

.title h1 {
  margin: auto;
  color: #fff;
  background-color: #000;
  padding: 10px;
}

.title p {
  margin: auto;
  padding: 10px;
  color: #fff;
  background-color: #f05c84
}

.container {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  width: 30%;
  max-width: 300px;
  height: 100vh;
  color: #fff;
  background-color: #000;
  position: relative;
  bottom: 0;
  z-index: 1;
  overflow: scroll;
  overflow-x: hidden;
}

input {
  font-size: 1.25em;
  width: 100%;
  padding: 9px 0;
  border: none;
  text-indent: 10px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  font-size: 1.25em;
  padding: 5px 0px;
  list-style-type: none;
}

.map {
  margin: 0;
  width: 70%;
  height: 100vh;
  object-fit: cover;
  tabIndex: -1;
  placeholder: NoTabIndex;
}

.info {
  max-width: 100px;
}

.sidebarInfo {
  font-size: 0.8em;
  font-style: italic;
  padding: 10px;
}

button {
  font-size: 1.1em;
  width: 100%;
  border: 0;
  color: #fff;
  background-color: #000;
  padding: 6px 5px;
  cursor: pointer;
}

button:hover,
button:focus {
    background: #f05c84;
}

a {
  color: #f05c84;
}

a:hover {
  color: #fff;
  background-color: #f05c84;
}

/* Mobile */
@media screen and (max-width: 396px) {
  .title h1 {
    font-size: 1.5em;
    padding-top: 0;
  }
  .title p {
    padding: 4px;
  }
  ul {
    margin: 0;
  }
  li {
    padding: 0;
  }
  button {
    font-size: 12px;
    width: 100%;
    padding: 1px 0;
  }
}
